<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androdocs.weatherapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PanasActivity"></activity>
        <activity android:name=".CerahActivity" />
        <activity android:name=".LcerahActivity"
            android:label="LaguCerah"/>
        <activity android:name=".LpanasActivity"
            android:label="LaguPanas"/>
        <activity android:name=".LhujanActivity"
            android:label="LaguHujan"/>
        <activity
            android:name=".HujanActivity"
            android:label="@string/title_activity_hujan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Main2Activity" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>